@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    margin-left: 150px;
}

.btn-secondary {
    color: #fff;
    background-color: green;
    border-color: #184b18;
}